Django>=6.0.2
tzdata
asgiref
sqlparse
gunicorn
whitenoise
python-dotenv
google-generativeai
openpyxl
pandas
pillow
requests
tqdm
pydantic
pydantic_core
annotated-types
certifi
cffi
charset-normalizer
colorama
cryptography
et_xmlfile
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
numpy
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
six
typing-inspection
typing_extensions
uritemplate
urllib3
django-modeltranslation
